<%-include("../partials/user/header")%>

</head>

    <main class="main">       
        <section class="home-slider position-relative pt-50">
            <div >
                <div class="single-hero-slider single-animation-wrap">
                    <div class="container">   
                        <div class="single-slider-img single-slider-img-1">
                            <img class="banner" src="assets/imgs/myPics/1736248799Desktop_banner_(5).avif" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="product-tabs section-padding position-relative wow fadeIn animated">
            <div class="container">        
                        <div class="row product-grid-4">

                            <% product.forEach(element => { %>
                              <% if(product.category && product.category.isListed){%>
                                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/singleProduct/<%= element._id%>">
                                                <img class="default-img" src="../<%= element.productImage[0] %>" alt="">
                                                <img class="hover-img" src="../<%= element.productImage[1] %>" alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">Hot</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html"><%=product.category %></a>
                                        </div>
                                        <h2><a href="shop-product-right.html"><%= element.productName  %></a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>₹<%=element.salePrice%> </span>
                                            <span class="old-price">₹<%=element.regularPrice%></span>
                                        </div>
                                        <div class="product-action-1 show">
                                            <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                              <%}%>  
                    
                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/singleProduct/<%= element._id%>">
                                                <img class="default-img" src="../<%= element.productImage[0] %>" alt="">
                                                <img class="hover-img" src="../<%= element.productImage[1] %>" alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">Hot</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html"><%=product.category %></a>
                                        </div>
                                        <h2><a href="shop-product-right.html"><%= element.productName  %></a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>₹<%=element.salePrice%> </span>
                                            <span class="old-price">₹<%=element.regularPrice%></span>
                                        </div>
                                        <div class="stock">
                                            <span class="text-success">Stock : <%=element.quantity%></span>
                                        </div>
                                        <div class="product-action-1 show">
                                            <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <% }) %>

                          
            </div>
        </section>
    </main>

    <!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="text-center">
                <h5 class="mb-10">Now Loading</h5>
                <div class="loader">
                    <div class="bar bar1"></div>
                    <div class="bar bar2"></div>
                    <div class="bar bar3"></div>
                </div>
            </div>
        </div>
    </div>
</div>

    <%-include("../partials/user/footer")%>

   